* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    font-family: sans-serif;
    color: #fff;
    letter-spacing: 1.5px;
}


.nav-container .brand {
    color: #A6A6A6;
    font-size: 2.7rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}


.nav-container-navbar {
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .nav-container .brand {
        font-size: 1.5rem;
    }
    
}

/* Estilos para o contêiner */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adicionado para alinhar os itens nas extremidades */
}


/* Estilos para o formulário */
form {
    width: 50%; /* Defina a largura do formulário conforme necessário */
    padding: 1em;
    background: #494949;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form h2 {
    text-align: center;
    margin-bottom: 0.8em;
}

/* Estilos para o campo de entrada */
input[type=text], input[type=email], input[type=tel], textarea {
    width: 100%; /* Defina a largura do campo de entrada conforme necessário */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 6px 0;
    display: inline-block;
    box-sizing: border-box;
}

/* Estilos para o botão */
.button {
    background-color: #610101;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* Estilos para a imagem */
.imagem {
    max-width: 100%; /* Defina a largura da imagem conforme necessário */
    height: auto; /* A altura será ajustada automaticamente para manter a proporção */
    padding: 1em;
}

/* Estilos para telas menores que 768px (tablet) */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Mudar para empilhamento em telas menores */
        align-items: center; /* Centralizar os itens */
        display: flex;
    }

    .form {
        align-items: center;
        width: 100%; /* Defina a largura do formulário para 100% */

    }
}

