
:root {
    --primary-color: rgb(88, 86, 86);
    --light-color: #FFF;
    --dark-color: #181920;
    --text-color: #8B8E94;
    --black: #000;
    --secondary-bg: #E5EAFF;
    --footer-bg: #1D1D1D;
}

/* Reset styles */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
small,
strong,
sub,
sup,
mark,
abbr,
address,
bdi,
dfn,
i,
time,
var,
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary,
figure,
figcaption,
img,
svg,
audio,
canvas,
iframe,
video,
label,
textarea,
datalist,
fieldset,
legend,
meter,
optgroup,
option,
progress,
button,
details,
summary,
input,
select,
textarea,
menuitem {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
}

/* Footer styles */
footer {
    background-color: #333;
    color: var(--text-color);
    padding: 5rem 2rem;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    letter-spacing: 1.5px;
}

/* Footer container styles */
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #333;
    color: #fff;
}

.footer-container a {
    color: var(--text-color);
    text-decoration: none;
}

footer ul {
    list-style: disc;
    padding: 0;
}

/* Mobile styles for footer container */
@media only screen and (max-width: 768px) {
    .footer-container {
        max-width: 100%;
        flex-direction: column;
    }
}

/* Footer title styles */
.footer-container .footer-title {
    color: #FFF;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

/* Footer description and links container styles */
.footer-container .footer-desc-container,
.footer-container .footer-links-container {
    width: 50%;
}

/* Mobile styles for footer description and links container */
@media only screen and (max-width: 768px) {

    .footer-container .footer-desc-container,
    .footer-container .footer-links-container {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
    }
}

/* Footer description container styles */
.footer-container .footer-desc-container p {
    width: 80%;
    line-height: 1.3;
}

/* Mobile styles for footer description container */
@media only screen and (max-width: 768px) {
    .footer-container .footer-desc-container p {
        width: 100%;
    }
}

/* Footer links container styles */
.footer-container .footer-links-container ul {
    padding: 0 1rem;
}

/* Mobile styles for footer links container */
@media only screen and (max-width: 768px) {
    .footer-container .footer-links-container ul {
        margin-bottom: 2rem;
    }
}

/* Footer list item styles */
.footer-container .footer-links-container li {
    margin-bottom: .5rem;
}

/* Footer link styles */
.footer-container .footer-links-container a {
    color: var(--text-color);
    transition: .5s;
}

/* Hover effect styles for footer links */
.footer-container .footer-links-container a:hover {
    color: #FFF;
}

/* Footer copyright container styles */
.footer-container .footer-copy-right-container {
    width: 100%;
    margin-top: 3rem;
}

/* Mobile styles for footer copyright container */
@media only screen and (max-width: 768px) {
    .footer-container .footer-copy-right-container {
        text-align: center;
    }
}

/* Paragraph styles for footer copyright container */
.footer-container .footer-copy-right-container p {
    margin-bottom: 1rem;
}


/* Footer sections */
.footer-desc-container,
.footer-links-container,
.footer-copy-right-container {
    flex: 1;
    padding: 1rem;
}

/* Footer title styles */
.footer-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Footer link styles */
.footer-links-container ul {
    list-style-type: none;
    padding: 0;
}

.footer-links-container ul li a {
    color: #fff;
    text-decoration: none;
}

/* Media query for small screens */
@media only screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Empilha os elementos verticalmente */
        padding: 1rem;
        text-align: center; /* Centraliza o conteúdo */
    }

    .footer-desc-container,
    .footer-links-container,
    .footer-copy-right-container {
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .footer-title {
        font-size: 1.2rem; /* Reduz o tamanho da fonte para caber melhor */
    }

    .footer-links-container ul li a {
        font-size: 1rem; /* Ajusta o tamanho da fonte dos links */
    }

    .footer-copy-right-container p {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte do copyright */
    }
}
