/* Reset styles */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
small,
strong,
sub,
sup,
mark,
abbr,
address,
bdi,
dfn,
i,
time,
var,
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary,
figure,
figcaption,
img,
svg,
audio,
canvas,
iframe,
video,
label,
textarea,
datalist,
fieldset,
legend,
meter,
optgroup,
option,
progress,
button,
details,
summary,
input,
select,
textarea,
menuitem {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
}

* {
	box-sizing: border-box;
	text-decoration: none;
    letter-spacing: 1.5px;
}

#main-banner {
    /*background: linear-gradient(to bottom, #000, #610101);*/
    height: 100vh;
    width: 100%;
    background: url('img/Mesa5.JPEG');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
    #main-banner {
        height: 100vh;
    }
}


.title-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Mobile styles for title container */
@media only screen and (max-width: 768px) {
    .title-container {
        text-align: center;
        padding: 3rem;
        font-size: 1rem;
    }
}

.title-container h2 {
    font-size: 2.5rem;
    color: #FFF;
    text-shadow:
        -1px -1px 0px #000,
        -1px 1px 0px #000,
        1px -1px 0px #000,
        1px 0px 0px #610101;
    /* Extend title-text-shadow styles here */
}

/* Heading 1 styles */
.title-container h1 {
    font-size: 3rem;
    margin: 1em;
    color: #FFF;
    text-shadow:
        -1px -1px 0px #000,
        -1px 1px 0px #000,
        1px -1px 0px #000,
        1px 0px 0px #610101;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

/* Navigation container styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    background-color: black;
    z-index: 10;
}

/* Mobile styles for navigation container */
@media only screen and (max-width: 768px) {
    .nav-container {
        padding: 1rem;
    }
}

/* Brand styles */
.nav-container .brand {
    color: white;
    font-size: 2rem;
}

/* Main hover effect styles */
.nav-container:hover {
    background-color: #000;
}

/* Navbar styles */
.nav-container-navbar {
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
    text-decoration: none;
}

/* List item styles */
.nav-container li {
    margin: 5px 10px;
}

/* Anchor styles */
.nav-container li a {
    color: white;
    font-size: 1rem;
}

/* Mobile styles for icon bars */
.nav-container .fas.fa-bars {
    font-size: 2rem;
    color: #FFF;
    display: none;
}

/* Mobile styles for navigation container */
@media only screen and (max-width: 768px) {
    .nav-container .fas.fa-bars {
        display: block;
    }
}

body {
	background: #000;
	color: #fff;
	font-family: serif;
	padding: 1rem;
	letter-spacing: 1.5px;
}

main {
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 0 20px;
	padding: 2em;
	font-size: 2rem;
	color: var(--black);

}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    color: #A6A6A6;
}

/* Navigation container styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 1rem;
    background-color: rgb(0, 0, 0);
    z-index: 10;
}

/* Mobile styles for navigation container */
@media only screen and (max-width: 768px) {
    .nav-container {
        padding: 1rem;
    }
}
.nav-container .brand {
    color: #A6A6A6;
    font-size: 2.7rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Esconde o menu por padrão em telas pequenas */
.nav-container-navbar {
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .nav-container-navbar {
        display: none; /* Esconde o menu inicialmente em telas pequenas */
        flex-direction: column; /* Empilha os links em uma coluna */
        background-color: black;
        position: absolute;
        top: 70px; /* Ajuste conforme necessário */
        width: 100%;
        left: 0;
        padding: 1rem 0;
        z-index: 99;
    }

    /* Exibe o ícone do menu sanduíche */
    #menu-toggle {
        display: block;
        font-size: 2rem;
        color: #FFF;
        cursor: pointer;
    }
}

/* Exibe o menu quando ativado */
.nav-active {
    display: flex; /* Mostra o menu */
}



.container {
	max-width: 100%;
	margin: 0 auto;
}

.container h1 {
	font-size: 3rem;
	font-family: serif;
	text-align: center;
	color: #FFF;
	padding-top: 0.3em 0;
	margin: 1em;
	text-shadow:
		-1px -1px 0px #000,
		-1px 1px 0px #000,
		1px -1px 0px #000,
		1px 0px 0px #610101;
	/* Extend title-text-shadow styles here */
}

.container h2 {
	font-size: 2rem;
	font-family: serif;
	text-align: center;
	color: #FFF;
	padding: 2em;
	margin: 0.5em;
	text-shadow:
		-1px -1px 0px #000,
		-1px 1px 0px #000,
		1px -1px 0px #000,
		1px 0px 0px #610101;
	/* Extend title-text-shadow styles here */
}

.container p {
	font-size: 1rem;
	font-family: serif;
    margin: 2em;
	line-height: 1.5;
	color: #FFF;
	text-align: justify;
	text-shadow:
		-1px -1px 0px #990a0a,
		/* Extend title-text-shadow styles here */
}

.slider {
	display: flex;
	background: #000;
}

.slider .slide {
	height: 100vh;
	position: relative;
	z-index: 10;
	border: solid #fff;
	border-width: 1px;
	background-size: cover;
	background-position: center center;
	opacity: 0.25;
	width: 30%;
	transition: width 0.8s ease, opacity 0.5s ease;
}

.slider img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider .slide:hover {
	width: 190%;
	opacity: 1;
}

@media only screen and (max-width: 768px) {
    .slider {
        display: block; /* Exibe as imagens em bloco (empilhadas) */
    }

    .slider .slide {
        width: 100%; /* Garante que a imagem ocupe toda a largura */
        height: 500px; /* Aumenta a altura das imagens */
        margin-bottom: 1rem; /* Espaçamento entre as imagens */
        opacity: 1; /* Remove o efeito de opacidade */
        transition: none; /* Remove a transição de aumento */
    }

    .slider .slide:hover {
        width: 100%; /* Remove o efeito de expansão ao hover */
        opacity: 1; /* Mantém a opacidade sem mudanças */
    }
}


/* Reset styles */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
small,
strong,
sub,
sup,
mark,
abbr,
address,
bdi,
dfn,
i,
time,
var,
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary,
figure,
figcaption,
img,
svg,
audio,
canvas,
iframe,
video,
label,
textarea,
datalist,
fieldset,
legend,
meter,
optgroup,
option,
progress,
button,
details,
summary,
input,
select,
textarea,
menuitem {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
}

/* Footer styles */
footer {
    background-color: #000;
    color: var(--text-color);
    padding: 5rem 2rem;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    letter-spacing: 1.5px;
}

/* Footer container styles */
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: #fff;
}

.footer-container a {
    color: var(--text-color);
    text-decoration: none;
}

footer ul {
    list-style: disc;
    padding: 0;
}

/* Mobile styles for footer container */
@media only screen and (max-width: 768px) {
    .footer-container {
        max-width: 100%;
        flex-direction: column;
    }
}

/* Footer title styles */
.footer-container .footer-title {
    color: #FFF;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

/* Footer description and links container styles */
.footer-container .footer-desc-container,
.footer-container .footer-links-container {
    width: 50%;
}

/* Mobile styles for footer description and links container */
@media only screen and (max-width: 768px) {

    .footer-container .footer-desc-container,
    .footer-container .footer-links-container {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
    }
}

/* Footer description container styles */
.footer-container .footer-desc-container p {
    width: 80%;
    line-height: 1.3;
}

/* Mobile styles for footer description container */
@media only screen and (max-width: 768px) {
    .footer-container .footer-desc-container p {
        width: 100%;
    }
}

/* Footer links container styles */
.footer-container .footer-links-container ul {
    padding: 0 1rem;
}

/* Mobile styles for footer links container */
@media only screen and (max-width: 768px) {
    .footer-container .footer-links-container ul {
        margin-bottom: 2rem;
    }
}

/* Footer list item styles */
.footer-container .footer-links-container li {
    margin-bottom: .5rem;
}

/* Footer link styles */
.footer-container .footer-links-container a {
    color: var(--text-color);
    transition: .5s;
}

/* Hover effect styles for footer links */
.footer-container .footer-links-container a:hover {
    color: #FFF;
}

/* Footer copyright container styles */
.footer-container .footer-copy-right-container {
    width: 100%;
    margin-top: 3rem;
}

/* Mobile styles for footer copyright container */
@media only screen and (max-width: 768px) {
    .footer-container .footer-copy-right-container {
        text-align: center;
    }
}

/* Paragraph styles for footer copyright container */
.footer-container .footer-copy-right-container p {
    margin-bottom: 1rem;
}


/* Footer sections */
.footer-desc-container,
.footer-links-container,
.footer-copy-right-container {
    flex: 1;
    padding: 1rem;
}

/* Footer title styles */
.footer-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Footer link styles */
.footer-links-container ul {
    list-style-type: none;
    padding: 0;
}

.footer-links-container ul li a {
    color: #fff;
    text-decoration: none;
}

/* Media query for small screens */
@media only screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        /* Empilha os elementos verticalmente */
        padding: 1rem;
        text-align: center;
        width: 90%;
    }

    .footer-desc-container,
    .footer-links-container,
    .footer-copy-right-container {
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .footer-title {
        font-size: 1.2rem;
        /* Reduz o tamanho da fonte para caber melhor */
    }

    .footer-links-container ul li a {
        font-size: 1rem;
        /* Ajusta o tamanho da fonte dos links */
    }

    .footer-copy-right-container p {
        font-size: 0.9rem;
        /* Ajusta o tamanho da fonte do copyright */
    }
}
